.site-header nav {
 ul {
  padding: 0;
  margin: 0;
  @extend .group;
 }

 li {
  list-style: none;
  float: left;
  margin-right: 10px;
  @include bp-babybear {
    float: none;
    margin-right: 0;
    margin-bottom: 2px;
  }
  @include bp-papabear {
   margin-right: 40px;
  }
 }

 a {
  display: block;
  padding: 10px;
  background-color: $myColor;
  color: white;
  text-decoration: none;
 }
}

